<div class="container mt-5" style="max-width: 400px;">
  <h1>Welcome to GainsGuide!</h1>
  <br>
  <p>This is a simple user friendly app to track your workouts and progression. To access all Gains Guide has to offer Log in or create account bellow.</p>
  <br>
  <h2 class="mb-4">Login</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="mb-3">
      <label>Email</label>
      <input type="email" name="email" [(ngModel)]="email" class="form-control" required />
    </div>

    <div class="mb-3">
      <label>Password</label>
      <input type="password" name="password" [(ngModel)]="password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary w-100">Login</button>
  </form>

  <div *ngIf="loginError" class="alert alert-danger mt-3">
    {{ loginError }}
  </div>

  <div class="text-center mt-3">
    <p>Don't have an account?</p>
    <a routerLink="/create-account" class="btn btn-outline-secondary">Create Account</a>

  </div>
</div>
