<div *ngIf="(workouts$ | async) as workouts">
  <div *ngFor="let workout of workouts">
    <h3>{{ workout.date }}</h3>
    <p *ngIf="workout.notes"><em>{{ workout.notes }}</em></p>
    <ul>
      <li *ngFor="let ex of workout.exercises">
        <strong>{{ ex.name }}</strong>
        <ul>
          <li *ngFor="let set of ex.sets">
            {{ set.reps }} reps × {{ set.weight }} lbs
            <span *ngIf="set.rpe"> &#64; RPE {{ set.rpe }}</span>
          </li>
        </ul>
      </li>
    </ul>
    <button (click)="deleteWorkout(workout.id)">Delete</button>
    <hr>
  </div>
</div>
