<div class="container mt-5">
    <h2 class="mb-4">Exercise Demos</h2>
  
    <div class="mb-5">
      <h4>Bench Press</h4>
      <div class="ratio ratio-16x9">
        <iframe
          src="https://www.youtube.com/embed/vthMCtgVtFw"
          title="Bench Press Demo"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  
    <div class="mb-5">
      <h4>Squat</h4>
      <div class="ratio ratio-16x9">
        <iframe
          src="https://www.youtube.com/embed/YaXPRqUwItQ"
          title="Squat Demo"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  
    <div class="mb-5">
      <h4>Deadlift</h4>
      <div class="ratio ratio-16x9">
        <iframe
          src="https://www.youtube.com/embed/op9kVnSso6Q"
          title="Deadlift Demo"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  
    <div class="mb-5">
      <h4>Bicep Curls</h4>
      <div class="ratio ratio-16x9">
        <iframe
          src="https://www.youtube.com/embed/ykJmrZ5v0Oo"
          title="Bicep Curl Demo"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  
    <div class="mb-5">
      <h4>Tricep Pushdowns</h4>
      <div class="ratio ratio-16x9">
        <iframe
          src="https://www.youtube.com/embed/2-LAMcpzODU"
          title="Tricep Pushdown Demo"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  